.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    height: 100%;
}

:vars {
    borderColor: #CE2211;
    backgroundColor: #E54222;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 15px;
    border: 5px solid value(borderColor);
    background-color: value(backgroundColor);
    width: 500px;
    height: 680px;
}

.container:first-of-type {
    border-right: 2px solid value(borderColor);
}
