.root {
    margin-top: 20px;
    height: 500px;
    overflow: auto;
    width: 400px
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1 1;
    margin-bottom: 5px;
}

.loadMoreBtn {
    margin: 0px auto;
    display: block;
    width: 100%;
}
