.root {
    display: flex;
    gap: 5%;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
}

:vars {
    borderGrey: #DFDFDF
}

.buttonsWrapper {
    align-self: flex-start;
    display: flex;
    gap: 10%;
}

.tabBtn {
    text-align: left;
    border: none;
    background: #E54222;
    color: white;
    font-size: large;
    border-radius: 4px;
    padding: 5px 20px;
    border-right: 2px solid value(borderGrey);
    border-bottom: 2px solid value(borderGrey);
}
