.root {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    height: 100%;

}


.pokemonImage {
    width: 150px;
}

.pokemonData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.keyVal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.keyVal div:first-child {
    font-weight: 700;
}

.pokemonTypes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-evenly;
}

.typeCapsule {
    background-color: black;
    width: 100px;
    padding: 2px 0px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    color: var(--typeColor);
    border: 2px solid var(--typeColor);
}

.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

.stats {
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    text-align: center;
}

.stats .stat {
    display: flex;
    flex-basis: 70px;
    flex-direction: column;
    gap: 10px;
}

.stats .text {
    height: 35px;
    font-weight: 700;
}

.stats .poll {
    width: 15px;
    border-radius: 4px;
    margin: 0 auto;
    height: var(--valueHeight);
    background-color: var(--typeColor);
    border: 1px solid black;

}
