:global(*),
:global(::before),
:global(::after) {
  box-sizing: border-box;
}

:global(html),
:global(body) {
  margin: 0;
  padding: 0;
}

:global(html) {

  font-family:
    system-ui,
    /* macOS 10.11-10.12 */
    -apple-system,
    /* Windows 6+ */
    "Segoe UI",
    /* Android 4+ */
    "Roboto",
    /* Ubuntu 10.10+ */
    "Ubuntu",
    /* Gnome 3+ */
    "Cantarell",
    /* KDE Plasma 5+ */
    "Noto Sans",
    /* fallback */
    sans-serif,
    /* macOS emoji */
    "Apple Color Emoji",
    /* Windows emoji */
    "Segoe UI Emoji",
    /* Windows emoji */
    "Segoe UI Symbol",
    /* Linux emoji */
    "Noto Color Emoji";
}

:global(a),
:global(a:visited) {
  color: inherit;
  cursor: pointer;
}



:vars {
  color-type-normal: #A8A77A;
  color-type-fire: rgba(238, 129, 48, 0.5);
  color-type-water: #6390F0;
  color-type-electric: #F7D02C;
  color-type-grass: #7AC74C;
  color-type-ice: #96D9D6;
  color-type-fighting: #C22E28;
  color-type-poison: #A33EA1;
  color-type-ground: #E2BF65;
  color-type-flying: #A98FF3;
  color-type-psychic: #F95587;
  color-type-bug: #A6B91A;
  color-type-rock: #B6A136;
  color-type-ghost: #735797;
  color-type-dragon: #6F35FC;
  color-type-dark: #705746;
  color-type-steel: #B7B7CE;
  color-type-fairy: #D685AD;
}
